/* add css for index.html */



#choice-display {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

img {
    float: left;
    width:  150px;
    height: 150px;
    object-fit: cover;
}

#results-display {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 50px;
}

.hidden {
    display: none;
}